*{
  margin: 0px;
  padding: 0px;
  border-color: unset;
  box-sizing: border-box;
  font-family: 'Quicksand','Montserrat','Arial', sans-serif, serif; 

}

body{
     display: grid;
    grid-template: auto/100%; 
    box-sizing: border-box;
background-color:#f6f890;
    color: #09133c;
    width: 100%;
    height: 450vh;
}

header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

}
.resume-title{
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.name{
display: block;
margin-left: auto;
margin-right: auto;
}

.obj{
  top: 10%;
    position: relative;
    font-weight: 600;
    height: 15vh;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.QUALIFICATIONS{
position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: 26vh;
    font-weight: bold;
}

.expertise {
    position: relative;
     width: 96%;
    height: 15vh;
    display: block;
    margin-left: 2%;
    font-weight: 600;
}



.technical-proficncies{
  margin-left: 2%;
    position: relative;
    font-weight: 600;
}

.education{
  font-weight: 600;
  position: relative;
  margin-left: 2%;
}

.experience{
  font-weight: 600;
  position: relative;
  margin-left: 2%;
}

.experience{
  margin-left: 2%;
    position: relative;
    font-weight: 600;
}

.irankhodro{
  margin-left: 2%;
    position: relative;
    font-weight: 600;
}

.references{
  margin-left: auto;
  margin-right: auto;
}

.bottom-nav{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 2%;
  list-style: none;
}

.bottom-nav a{
text-decoration: none;
margin-right: 10%;
color: #09133c
}

.bottom-nav li{
  width: 15%;
  font-weight: bold;
}

.link{
position: relative;
    right: 2%;
    top: -20%;
    display: flex;
    justify-content: flex-end;
}

.link a{
  text-decoration: none;

}

.link i{
  margin-right: 15%;
}

.fas.fa-home{
  position: absolute;
  right: 0;
}

.fab.fa-facebook-f{
  position: absolute;
  right: 8%;
}

.fab.fa-linkedin-in{
position: absolute;
right: 1%;
}

@media only screen and (max-width: 940px){

.obj, .QUALIFICATIONS{
  width: 92%;
}

.expertise, .technical-proficncies, .education, .experience, .irankhodro{
  margin-left: 4%;
}

}

