@media only screen and (max-width:640px){


.link {
    width: 45%;
    left: 0;
    margin-top: 27%;
}

.myphoto {
    height: 45%;
    width: 90%;
    top: 20%;
}

.bottom-nav {
    font-size: 4vw;
    left: 2%;
}

h1 {
    
    top: 5%;
    left: 27%;
}

p {
    
    font-size: 4.3vw;
    top: 85%;
    width: 89%;
    left: 6%;
}

footer {
    top: 141vh;
}