*{
  margin: 0px;
  padding: 0px;
  border-color: unset;
  box-sizing: border-box;
  font-family: 'Quicksand','Montserrat','Arial', sans-serif, serif; 

}
body{
     display: grid;
    grid-template: auto/100%; 
    box-sizing: border-box;
    
}

section{
    position: relative;
    display: flex;
    width: 100%;
    height: 350vh;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

h2{
    position: absolute;
    display: block;
    width: 60%;
    background-color: #f6f890;
    margin-top: 2%;
    padding: 2%;
}

a{
    color: #09133c;
}

.project4-link{
    position: absolute;
    display: block;
    top: 10%;
    left: 12%;
    text-decoration: underline;
}

.project4-mainp{
    width: 36%;
    height: 19%;
    position: absolute;
    display: block;
    top: 13%;
    left: 12%;
}

.project3-link{
    position: absolute;
    display: block;
    top: 10%;
    right: 13%;
    text-decoration: underline;
}

.project3-mainp{
    width: 36%;
    height: 18%;
    position: absolute;
    display: block;
    top: 14%;
    right: 12%;
}

.project2{
    position: absolute;
    top: 36%;
    left: 10%;
    width: 38%;
    height: 30%;
}



.project2-mainp1{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 16%;
}

.project2-link{
    position: absolute;
    right: 2%;
    text-decoration: underline;
}


.project1 a,.project2 a:hover{
background-color:#f6f890;
}

.project1{
    position: absolute;
    top: 36%;
    right: 13%;
}

.project1-mainp{
    position: absolute;
    display: block;
    width: 36%;
    height:  30%;
    right: 12%;
    top: 41%;
}

.td{
    position: absolute;
    top: 73%;
    left: 10%;
    width: 62%;
    height: 18%;
}

.td-mainp{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 20%;
}

.backtotop{
bottom: 0%;
    right: 10%;
    position: absolute;
    color: #09133c;
    background-color: #f6f890;
    height: 2%;
    width: 9%;
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
}

footer {
    position: relative;
    display: flex;
    top: 20vh
    width: 95%;
    left: 2%;
    border-top: #f6f890 solid 1px;
}

.backtotop {
    right: 12%;
    width: 13%;
    }

.bottom-nav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 61%;
    left: 15%;
    width: 22%;
   
}

.bottom-nav div{
    padding-right: 5%;

}

.bottom-nav a{
 color: #09133c;
}

.contact-me-bottomnav{
display: block;
    width: 110%;
}

.link{
    position: absolute;
    display: block;
    right: .5%;
    top: 65%;
    margin-bottom: 3%;
    width: 11%;
}

.link a{
    padding-left: 12%;
    text-decoration: none;
    color: #09133c;;
}

@media only screen and (max-width: 940px){

    section{
        height: 700vh;
    }

    .backtotop {
    right: 12%;
    width: 13%;
    }

    .bottom-nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    left: 2%;
    width: 40%;
}
.bottom-nav a {
    color: #09133c;
    width: 100%;
}

.link {
    margin-top: 3%;
    width: 23%;
}

.project4-link{
    top: 6%;
    left: 45%
}

.project4-mainp {
    width: 86%;
    top: 7%;
    left: 7%;
}

.project3-link {
    top: 28%;
    right: 45%;
}

.project3-mainp {
    width: 86%;
    top: 30%;
    right: 7%;
    height: 10%;
}

.project2 {
    top: 41%;
    left: 7%;
    width: 86%;
    height: 23%;
}

.project2-link {
    right: 39%;
}

.project2-mainp1 {
    top: 8%;
}

.td {
    top: 74%;
    left: 8%;
    width: 84%;
    height: 9%;
}





}
